@charset "utf-8";

html {
  font-size: 100%;
}

body {
  color: #383e45;
  font-size: 0.9em;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.site-title {
  width: 120px;
  line-height: 1;
  padding: 10px 0;
}

.site-title a {
  display: block;
}

.secsion-title {
  display: inline;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
  margin-bottom: solid 1px #383e45;
}

.content-title {
  font-size: 1rem;
  margin: 10px 0;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}

/* ヘッダー */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#header ul {
  display: flex;
  padding: 10px 0;
}

#header li a {
  color: #24292e;
}

#header li a:hover{
  opacity: 0.7;
}

/* Mainvisual */
#mainbisual {
  margin-bottom: 80px;
}

#mainvisual img {
  width: 100%;
  min-width: 1920px;
  height: 600px;
  object-fit: cover;
}

@media screen and (max-width: 600px){
  #mainvisual img {
    height: calc(100vh - 60px);
  }
}